# Configurações de E-mail (Gmail de Testes ou Produção)
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS="sua senha de aplicativo gmail"

# Integração com GoGenier (Julia)
SIMULAR_GOGENIER=True
GOGENIER_WEBHOOK_URL=https://api.gogenier.com/webhook/seu_id
GOGENIER_API_KEY=sua_chave_de_api_gogenier
